.header {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.1rem;
  margin: 20px 0 50px 5px;
  width: fit-content;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 30px;
}
.button_group {
  margin-top: 40px;
  justify-content: flex-end;
  gap: 16px;
}
.button_group button {
  min-width: 100px;
  text-transform: capitalize;
  font-size: 16px;
}
