.w-100p {
  width: 100%;
}
.w-50p {
  width: 50%;
}

.flex {
  display: flex;
}
.f-grow {
  flex-grow: 1;
}
.f-basis {
  flex-basis: 100%;
}
.f-column {
  flex-direction: column;
}
.f-row {
  flex-direction: row;
}
.f-center {
  justify-content: center;
  align-items: center;
}
.f-align-center {
  align-items: center;
}
.f-justify-center {
  justify-content: center;
}
